<?xml version="1.0"?>
<!--
  ~ @author magefast@gmail.com www.magefast.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <preference for="Magento\Sitemap\Model\ItemProvider\Product" type="Magefast\SitemapNoOutofstockProducts\Model\ItemProvider\Product" />
</config>
